<div class="sidebar-wrapper">
  <div class="sidebar" ng-controller="Books as book">
    <h2 class="sidebar-branding">
      <%- include icons/branding %>
    </h2>

    <nav class="nav nav-sidebar">
      <ul class="menu menu-sidebar">

        <!-- Book List -->
        <!-- <li class="menu-item menu-item--documents in-sidebar">
          <a class="menu-link" ng-click="book.status.book = !book.status.book">
          <span>Books</span> <span class="caret"></span></a>

          <ul class="books sidebar-list" collapse="book.status.book" role="menu">
            <%- include dropdowns/books %>
            <li> <a ng-click="createBook()">New Book</a> </li>
          </ul>

        </li> -->

        <!-- Document List-->
        <li class="menu-item menu-item--documents in-sidebar" ng-controller='BookDocuments as document'>
          <a class="menu-link" ng-click="book.status.document = !book.status.document">
          <span>Book Sections</span> <span class="caret"></span></a>

          <ul ui-sortable ng-model='documents' class="documents sidebar-list" collapse="book.status.document" role="menu"  >
            <%- include dropdowns/documents %>
            <li><a ng-click="createDocument()">New Book Section</a></li>
          </ul>
        </li>

        <!-- Asset List -->
        <li class="menu-item menu-item--documents in-sidebar" ng-controller='BookAssets as asset'>
          <a class="menu-link" ng-click="book.status.asset = !book.status.asset">
          <span>Book Assets</span> <span class="caret"></span></a>

          <ul ui-sortable ng-model='assets' class="assets sidebar-list" collapse="book.status.asset" role="menu">
            <%- include dropdowns/assets %>
            <li><a class="asset--add" ng-click="toggleSelect()">Add New Book Asset</a></li>
          </ul>
          <input input-onchange="createAsset" class="hidden file-input__assets" type="file" multiple name="file-input__assets">
        </li>

      </ul>
    </nav>

    <a class="btn btn--save" ng-click="save(currentBook)">Save</a>
    <a class="btn btn--save" ng-click="bberCommand('build')">bber build</a>
    <a class="btn btn--save" ng-click="bberCommand('publish')">bber publish</a>

  </div>
</div>
